* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: myFont;
    src: url(../public/assets/fonts/IndieFlower-Regular.ttf);
  }
  
  body {
    font-family: myFont;
  }
  
  .navbar-container {
    height: 70px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    text-transform: uppercase;
    text-shadow: 0 0 2px #000000;
    font-size: 50px;
  }
  
  .navbar-row a {
    margin: 0 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .active {
    border-bottom: 3px solid #000000;
  }